/**
 * @file
 * Styling for toolbar module icons.
 */

/*
<path d="M0 0h32v32h-32v-32z" fill="Navy" opacity=".2"/>
<path d="M0 0h32v32h-32v-32z" fill="DarkGreen" opacity=".2"/>
<path d="M0 0h32v32h-32v-32z" fill="Goldenrod" opacity=".2"/>
<path d="M0 0h32v32h-32v-32z" fill="Maroon" opacity=".3"/>
    background-image: url("icons/diamond.svg");
*/


.toolbar.slogtb .toolbar-tray li.level-1 > a.toolbar-icon:before,
.toolbar.slogtb .toolbar-tray li.level-1 > .toolbar-box a.toolbar-icon:before {
    background-image: url("icons/tbtray-level1.svg");
    background-size: 50% auto;
}

.toolbar.slogtb.toolbar-icon-user1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-user1:before {
    background-image: url("icons/user1.svg");
}
.toolbar.slogtb.toolbar-icon-user2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-user2:before {
    background-image: url("icons/user2.svg");
}
.toolbar.slogtb.toolbar-icon-user3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-user3:before {
    background-image: url("icons/user3.svg");
}
.toolbar.slogtb.toolbar-icon-user4,
.toolbar.slogtb .toolbar-bar .toolbar-icon-user4:before {
    background-image: url("icons/user4.svg");
}
.toolbar.slogtb.toolbar-icon-user5,
.toolbar.slogtb .toolbar-bar .toolbar-icon-user5:before {
    background-image: url("icons/user5.svg");
}

.toolbar.slogtb.toolbar-icon-role1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-role1:before {
    background-image: url("icons/role1.svg");
}
.toolbar.slogtb.toolbar-icon-role2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-role2:before {
    background-image: url("icons/role2.svg");
}
.toolbar.slogtb.toolbar-icon-role3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-role3:before {
    background-image: url("icons/role3.svg");
}
.toolbar.slogtb.toolbar-icon-role4,
.toolbar.slogtb .toolbar-bar .toolbar-icon-role4:before {
    background-image: url("icons/role4.svg");
}
.toolbar.slogtb.toolbar-icon-role5,
.toolbar.slogtb .toolbar-bar .toolbar-icon-role5:before {
    background-image: url("icons/role5.svg");
}

.toolbar.slogtb.toolbar-icon-home1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-home1:before {
    background-image: url("icons/home1.svg");
}
.toolbar.slogtb.toolbar-icon-home2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-home2:before {
    background-image: url("icons/home2.svg");
}
.toolbar.slogtb.toolbar-icon-home3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-home3:before {
    background-image: url("icons/home3.svg");
}
.toolbar.slogtb.toolbar-icon-home4,
.toolbar.slogtb .toolbar-bar .toolbar-icon-home4:before {
    background-image: url("icons/home4.svg");
}
.toolbar.slogtb.toolbar-icon-home5,
.toolbar.slogtb .toolbar-bar .toolbar-icon-home5:before {
    background-image: url("icons/home5.svg");
}

.toolbar.slogtb.toolbar-icon-library1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-library1:before {
    background-image: url("icons/library1.svg");
}
.toolbar.slogtb.toolbar-icon-library2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-library2:before {
    background-image: url("icons/library2.svg");
}
.toolbar.slogtb.toolbar-icon-library3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-library3:before {
    background-image: url("icons/library3.svg");
}
.toolbar.slogtb.toolbar-icon-library4,
.toolbar.slogtb .toolbar-bar .toolbar-icon-library4:before {
    background-image: url("icons/library4.svg");
}
.toolbar.slogtb.toolbar-icon-library5,
.toolbar.slogtb .toolbar-bar .toolbar-icon-library5:before {
    background-image: url("icons/library5.svg");
}

.toolbar.slogtb.toolbar-icon-earth1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-earth1:before {
    background-image: url("icons/earth1.svg");
}
.toolbar.slogtb.toolbar-icon-earth2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-earth2:before {
    background-image: url("icons/earth2.svg");
}
.toolbar.slogtb.toolbar-icon-earth3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-earth3:before {
    background-image: url("icons/earth3.svg");
}
.toolbar.slogtb.toolbar-icon-earth4,
.toolbar.slogtb .toolbar-bar .toolbar-icon-earth4:before {
    background-image: url("icons/earth4.svg");
}
.toolbar.slogtb.toolbar-icon-earth5,
.toolbar.slogtb .toolbar-bar .toolbar-icon-earth5:before {
    background-image: url("icons/earth5.svg");
}

.toolbar.slogtb.toolbar-icon-database1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-database1:before {
    background-image: url("icons/database1.svg");
}
.toolbar.slogtb.toolbar-icon-database2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-database2:before {
    background-image: url("icons/database2.svg");
}
.toolbar.slogtb.toolbar-icon-database3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-database3:before {
    background-image: url("icons/database3.svg");
}
.toolbar.slogtb.toolbar-icon-database4,
.toolbar.slogtb .toolbar-bar .toolbar-icon-database4:before {
    background-image: url("icons/database4.svg");
}
.toolbar.slogtb.toolbar-icon-database5,
.toolbar.slogtb .toolbar-bar .toolbar-icon-database5:before {
    background-image: url("icons/database5.svg");
}

.toolbar.slogtb.toolbar-icon-help1,
.toolbar.slogtb .toolbar-bar .toolbar-icon-help1:before {
    background-image: url("icons/help1.svg");
}
.toolbar.slogtb.toolbar-icon-help2,
.toolbar.slogtb .toolbar-bar .toolbar-icon-help2:before {
    background-image: url("icons/help2.svg");
}
.toolbar.slogtb.toolbar-icon-help3,
.toolbar.slogtb .toolbar-bar .toolbar-icon-help3:before {
    background-image: url("icons/help3.svg");
}
