/**
 * @file slogtb.module.css
 */

#slogtb-tbsys-wrapper {
    display: none !important;
}

#slogtb-menu-switch-btn {
    display: none;
    float: left;
    width: 36px;
    min-height: 39px;
    background-color: transparent;
    background-image: url("icons/menu-switch.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    border-right: 1px solid ivory !important;
    cursor: pointer;
}
.region.slogtb-tabs-iconized.has-menu-switch #slogtb-menu-switch-btn {
    display: block;
}

.slogtb-tabs-iconized .block.block-slogtb.stb-toolbar,
.block.block-slogtb.stb-toolbar {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 39px;
}
.block.block-slogtb.stb-toolbar,
.block.block-slogtb.stb-toolbar > .content,
.block.block-slogtb.stb-content,
.block.block-slogtb.stb-content > .content {
    padding: 0;
    margin: 0;
}
.region > .slogtb-multiple-wrapper.block-slogtb {
    width: 100%;
    min-height: 39px;
    background-color: #0f0f0f;
}
.region > .slogtb-multiple-wrapper.block-slogtb nav.toolbar-bar {
    box-shadow: none;
}
.region > .slogtb-multiple-wrapper > .block.block-slogtb {
    float: left;
    width: auto !important;
}
.region.has-menu-switch > .slogtb-multiple-wrapper > .block.block-slogtb.stb-toolbar.slogtb-menu-hidden {
    display: none;
}

.region.slogtb-tabs-iconized.has-menu-switch  > .slogtb-multiple-wrapper > .block.block-slogtb:first-child .toolbar-bar:first-child,
.region > .slogtb-multiple-wrapper > .block.block-slogtb .toolbar-bar:first-child {
    border-left: 1px solid ivory !important;
}
.region > .slogtb-multiple-wrapper > .block.block-slogtb:first-child .toolbar-bar:first-child {
    border: none !important;
}


.slogtb-tabs-iconized .block.block-slogtb.stb-toolbar {
    /*padding: 0;*/
    /*float: left;*/
}

/*.block.block-slogtb.stb-toolbar,
.sidebar .block.block-slogtb.stb-toolbar,
.xx {
    padding: 0;
    margin: 0;
}*/

.slogtb.toolbar,
.slogtb.toolbar .toolbar-bar,
.slogtb.toolbar .toolbar-tray,
.slogtb.toolbar .toolbar-tray.toolbar-tray-vertical,
.xx {
    position: absolute;
}

.slogtb.toolbar,
.xx {
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

.slogtb.toolbar.slogtb-horizontal  .toolbar-bar .toolbar-tab {
    float: left;
}
.slogtb.toolbar.slogtb-vertical  .toolbar-bar .toolbar-tab,
.slogtb.toolbar  .toolbar-bar .toolbar-tray li.menu-item,
.xx {
    float: none;
}

.slogtb.toolbar .toolbar-bar {
    width: 100%;
    /*z-index: 1250 !important;*/
}
.slogtb.toolbar.slogtb-vertical .toolbar-bar {
    max-width: 300px;
}

.slogtb.toolbar .toolbar-tray {
    min-width: 200px;
    min-height: 300px;
    z-index: 1251;
}

.slogtb.toolbar .toolbar-tray ul.toolbar-menu.root ul ul {
    margin-left: 2.75em;
}
.slogtb.toolbar .toolbar-tray ul.toolbar-menu.root ul ul a {
    margin-left: 0.6667em;
    padding-left: 0;
}

/*.slogtb.toolbar .toolbar-tab .toolbar-tray a,*/
.slogtb.toolbar .toolbar-tab > a {
    text-decoration: none;
    outline: none;
}
.slogtb.toolbar .toolbar-tab .toolbar-tray a.slogtb-link-item {
    color: #565656;
}

.slogtb-tabs-iconized .slogtb-horizontal.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    padding-left: 0;
    padding-right: 0;
    text-indent: -9999px;
    width: 38px;
}

.site-footer .block-slogtb.stb-toolbar .content .slogtb.toolbar ul {
    margin: 0;
    padding: 0;
}
.site-footer .block-slogtb.stb-toolbar .content .slogtb.toolbar li a,
.site-footer .block-slogtb.stb-toolbar .slogtb.toolbar .menu-item a {
    border: none !important;
    display: block !important;
    float: none !important;
    padding: 1em 4em 1em 2.75em !important;
    text-indent: 0 !important;
}
.site-footer .block-slogtb.stb-toolbar .content .slogtb.toolbar ul.toolbar-menu.root ul ul a {
    margin-left: 0.6667em;
    padding-left: 0 !important;
}

main#content #slogtb-content-default,
.block.block-slogtb.block-slogtb-content-default {
    float: none;
    margin: 0 0 20px;
    width: 100%;
    min-height: auto;
}
.sidebar .block.block-slogtb.stb-content,
.sidebar .block.block-slogtb.block-slogtb-content-default {
    width: auto;
}
.sidebar .block.block-slogtb.stb-content,
.sidebar .region > .slogtb-multiple-wrapper.block-slogtb {
    margin-bottom: 20px;
}

/**
 * toolbar module fix
 */
.slogtb.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    background-position: left center; /* LTR */
    padding-left: 2.75em; /* LTR */
    padding-right: 1.3333em; /* LTR */
    text-indent: 0;
    width: auto;
}
[dir="rtl"] .slogtb.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    background-position: right center;
    padding-left: 1.3333em;
    padding-right: 2.75em;
}
.slogtb.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    background-size: 100% auto;
    left: 0.6667em; /* LTR */
    width: 20px;
}
.no-svg .slogtb.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    background-size: auto auto;
}
[dir="rtl"] .slogtb.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    left: 0;
    right: 0.6667em;
}


